<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body>
    <div class="main w-full min-h-screen bg-zinc-900">
        <div class="form p-10 text-white">
            <div class = "nav mb-10">
                <a href="/" class="text-blue-500">Back To Home</a>
            </div>
            <h1 class="text-3xl tracking-tighter mb-5">ALL USERS</h1>
            <div class="users flex gap-3 flex-wrap" >
                <% users.forEach(function(user) { %>
                <div class="user max-w-72 p-4 bg-zinc-800 rounded-lg">
                    <div class="w-full h-52 bg-zinc-700 overflow-hidden">
                        <img class="w-full h-full object-cover" src="<%= user.image %>" alt="">
                    </div>
                    <h3><%= user.name%></h3>
                    <h5><%= user.email%></h5>
                    <div class = "flex gap-3 mt-5">
                        <a class="text-zinc-600"  href="/edit/<%=user._id %>">Edit user</a>
                        <a class="text-red-500 ml-20" href="/delete/<%=user._id %>">Delete user</a>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>

</div>
    </div>
</body>

</html>